#start-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);

  display: flex;
  justify-content: center;
  align-items: center;
}

#menu {
  background: #222;
  padding: 30px;
  border-radius: 10px;
}

#nickname-input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

#ranking-list {
  text-align: left;
  margin-top: 10px;
}

#start-btn {
  font-size: 24px;
  padding: 15px 40px;
  cursor: pointer;
}
