#start-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);

  display: flex;
  justify-content: center;
  align-items: center;
}

#start-btn {
  font-size: 24px;
  padding: 15px 40px;
  cursor: pointer;
}
